@page "/cryptocurrencies"

<PageTitle>Cryptocurrencies</PageTitle>

@using CIP.Website.Data
@using CIP.Website.Data.Interfaces;
@using CIP.Website.Data.Models;
@using CIP.Website.Data.Services;
@inject ICryptocurrency cryptocurrency

<div class="card text-center">
    <div class="card-header">
        The Top 100 Cryptocurrencies
    </div>
    <div class="card-body">
       @if(_cryptocurrencies.Any())
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">Coin Value</th>
                        <th scope="col">Market Cap</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Cryptocurrency cryptocurrency in _cryptocurrencies)
                    {
                        <tr>
                            <td>@cryptocurrency.Rank</td>
                            <td>@cryptocurrency.Name</td>
                            <td>@cryptocurrency.USDValuation</td>
                            <td>@cryptocurrency.MarketCap</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>



@code {
    private IEnumerable<Cryptocurrency> _cryptocurrencies = Enumerable.Empty<Cryptocurrency>();

    protected override async Task OnInitializedAsync()
    {
        _cryptocurrencies = await cryptocurrency.Get();
    }
}
