@page "/"

<PageTitle>Home</PageTitle>
<div class="d-flex align-items-center flex-column pt-16">
    <div>
        <h2 class="header-typography">The world's cryptocurrency data authority has a professional API made for you.</h2>
    </div>
    <div class="d-flex flex-row pt-12 align-content-around flex-grow-1">
        <div class="mr-4">
            <button type="button" href="#" class="css-button-sliding-to-left--rose">Get your API key now</button>
        </div>
        <div class="ml-4">
            <button type="button" href="#" class="css-button-sliding-to-left--rose">Read API documentation</button>
        </div>
    </div>
    <div class="pt-16" >
        <span class="line-divider-solid white-text"></span>
    </div>
    <div class="pt-16">
        <h2 class="header-typography"> Your private API key for all use-cases</h2>
    </div>
    <div class="pt-16">
        <div class="card mb-3" style="max-width: 80rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="css/Images/bitcoin-img.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-16">
        <div class="card mb-3" style="max-width: 80rem;">
            <div class="row g-0">               
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="css/Images/bitcoin-img.jpg" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>


