@page "/"

<PageTitle>Home</PageTitle>

<div class="card-header">
    <div class="flex-row justify-content-center">
        <h1>CIP API</h1>
    </div>
    <div class="row">
        <p class="card-text">
            Welcome to our website. The mission of CIP is to provide a reliable and free to use API for cryptocurrency information. 
            We currently provide endpoints to retrieve: all of the top 100 projects by market cap, any of the top 100 projects by name, any of the top 100 projects by rank.
        </p>
    </div>
</div>

